.card img {
  height: auto;
  width: auto;
  max-width: 90%;
  margin-top: 5%;
}

.progress-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 50px;
  background-color: #333;
  width: 100%;
  z-index: 5;
}

.progress-bar{
  background-color:$green;
  height:100%;
  position: fixed;
  height: 50px;
  line-height: inherit;
  left: 0px;
  bottom: 0px;
  z-index: 6;
}

.progress-text {
  width: 100%;
  position: relative;
  left: auto;
  z-index: 1000;
  color: #fff;
  margin: auto;
  padding: 15px;
}
