.card img {
  height: auto;
  width: auto;
  max-width: 90%;
  margin-top: 5%;
}

.progress-bar {
  position: absolute;
  bottom: 0px;
  height: 60px;
  background-color: #333;
  width: 100%;
  padding: 5%;
}
