.dash-wrapper {
  background-color: #fff;
  height: 100vh;
  color: #474848;
  padding-top: 50px;
}

.dash-wrapper h4 {
  margin-top: 20px;
}

.dashbig {
  margin-top: 30px;
}

.dashbig img {
  float: left;
  position: relative;
  top: 20px;
}
