/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
body {
  background-color: #00A6E3;
  background-image: linear-gradient(to bottom right, #00A6E3 0%, #BAFFF4 100%);
  background-position: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: $yellow;
  text-decoration: none;
}
