/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

html {
    height: 100%;
}

body {
  background-color: #fff;
}

a {
  color: #71A9AB;
  text-decoration: none;
}

a:hover {
  color: #4B8431;
  text-decoration: none;
}

.blue-body {
  background-color: #00A6E3;
  // background-image: linear-gradient(to bottom right, #264156 0%, #A1DDE1 100%);
  background-image: linear-gradient(to bottom right, #0195cc 0%, #99FCFF 100%);
  background-position: center;
  min-height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.blue-body a {
  color: #fff;
  text-decoration: none;
}

.blue-body a:hover {
  color: $yellow;
  text-decoration: none;
}

.center-message {
  margin-top: 45vh;
}

.white-title {
  color: #fff;
  margin: 10px auto;
  font-weight: bolder;
}




