.activity-card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.activity-card p {
  padding: 0 10px 15px 10px;
  font-size: 14px;
}

.activity-card h5 {
  padding-top: 8px;
  font-size: 16px;
}

.transport {
  margin: 20px 0;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: lighter;
  color: #666;
  background-color: rgba(255,255,255,0.5);
}

.transport-icon {
  margin-left: 10px;
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.transport-line-top {
  border-left: 3px solid rgba(255,255,255,0.2);
  height: 20px;
  margin: -5px auto -15px auto;
  text-align: center;
  position: relative;
  left: 50%;
}

.transport-line-bottom {
  border-left: 3px solid rgba(255,255,255,0.2);
  height: 20px;
  margin: -13px auto 5px auto;
  text-align: center;
  position: relative;
  left: 50%;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.itinerary-footer {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #666;
}

.itinerary-footer img {
  width: 150px;
  opacity: 0.5;
  margin: 5px 0 -5px 0;
}

.itinerary-footer a {
  color: #3F9BD3;
}

.flights a {
  color: #3F9BD3;
}

.flights {
  padding: 10px 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.flights img {
  width: 150px;
  opacity: 0.5;
  margin: 0px 0 5px 0;
}


.transport-wrapper {
  display: flex;
  justify-content: space-between;
}

.rome2rio-right img {
  height: 15px;
  opacity: 0.3;
  margin-right: 10px;
}

.last-card {
  margin-bottom: 50px;
}

.day-card {
  display: flex;
  justify-content: space-between;
}

.day-card h3 {
  font-weight: bolder;
  margin: 0;
  margin-bottom: 5px;
  color: #fff;
  padding: 5px;
}

.day-card p {
  padding: 0;
  margin-top: 10px;
  color: #fff;
}
