.activity-card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.activity-card p {
  padding: 0 10px 15px 10px;
  font-size: 14px;
}

.activity-card h5 {
  padding-top: 8px;
  font-size: 16px;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.itinerary-footer {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  font-size: 21px;
  font-weight: bolder;
  color: #666;
}

.itinerary-footer img {
  width: 150px;
  opacity: 0.5;
  margin: 5px 0 -5px 0;
}

.itinerary-footer a {
  color: #3F9BD3;
}
