
/*.homepage-center-wrapper {
  color: white;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 30% 20%;
  display: flex;
}*/

.homepage-center-wrapper {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 25px;
    color: white;
    padding: 6px;
  }
}

.btn-lg {
  font-size: 20px;
  border-radius: 30px;
  position: center;
  background-color: $lightblue;
  border-color: $lightblue;
  margin-top: 11px;
  padding-left: 30px;
  padding-right: 30px;
  color: $darkblue;
}

.btn-lg:hover {
  background-color: $darkblue;
  border-color: $darkblue;
  color: #fff;
}

.next {
  font-weight: bold;
  color: #2E5561;
}

.destination {
  font-weight: bold;
  color: #DCAE1D;
}

.logo {
width: 300px;
}

.landing-icon {
  width: 80px;
}

// ABOUT PAGE STUFF //

.about-link {
    position: absolute;
    bottom: 5%;
    text-align: center;
    width: 100%;
    color: #fff;
    opacity: 0.3;
    a {
      color: #fff;

    }
    a:hover {
      opacity: 1.0;
    }
}

.email a {
  color: #fff;
  text-decoration: none;
  a:hover {
    color: #fff;
    text-decoration: none;
  }
}

.about-content {
  margin-top: 20px;
  padding: 0 10px;
  max-width: 420px;
}

.bullet-point {
  font-size: 19px;
  top: -3px;
  position: relative;
  margin: 0px -6px;
}

