
/*.homepage-center-wrapper {
  color: white;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 30% 20%;
  display: flex;
}*/

.homepage-center-wrapper {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 25px;
    color: white;
    padding: 6px;
  }
}

.btn-lg {
  font-size: 20px;
  border-radius: 30px;
  position: center;
  background-color: #FBCC1C;
  border-color: #FBCC1C;
  margin-top: 65px;
  padding-left: 30px;
  padding-right: 30px;
}

.next {
  font-weight: bold;
  color: #2E5561;
}

.destination {
  font-weight: bold;
  color: #DCAE1D
}

.logo {
width: 250px;
}

