.bottom-wrapper {
  background-color: #fff;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 20px;
  font-size: 21px;
  font-weight: bolder;
  color: #666;
}

.bottom-wrapper img {
  width: 150px;
  opacity: 0.5;
  margin: 5px 0 -5px 0;
}

.bottom-wrapper a {
  color: #3F9BD3;
}

.bottom-container {
  max-width: 700px;
  margin: auto;
  bottom: 0px;
  text-align: center;
}

.bottom-msg-left {
  background-color: #fff;
  padding-top: 10px;
}

.bottom-msg-left a {
  color: #3F9BD3;
}

#map {
  position: fixed;
  top: 15px;
  height: 60vh;
  width: 100%;
}

.suggestionation {
  color: #333;
  padding-top: 15px;
}

.gm-style-mtc {
  display: none;
}
