.bottom-wrapper {
  position: fixed;
  background-color: #fff;
  height: 50px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.bottom-container {
  max-width: 700px;
  margin: auto;
  bottom: 0px;
  text-align: center;
}

.bottom-msg-left {
  background-color: #fff;
}
