.container-login-landing {
  position: absolute;
  top: 20px;
  right: 20px;
}

.container-login-landing a {
  color: white;
  letter-spacing: 3px;
  flex: 0 0 auto;
}

.main-logo {
  max-width: 400px;
}

.motto {
  margin-top: 0px;
  margin-bottom: 20px;

}

input[type=text] {
  color: #333;
}

select {
  color: #333;
}
