<!-- <div class="row-fluid"> -->
<!--   <div class="col-md-12"> -->
    <div id="map"></div>
<!--   </div> -->
<!-- </div> -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setCenter({lat: <%= @centroid[0] %>, lng: <%= @centroid[1] %>});
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        } else {
          handler.getMap().setZoom(5);
        }
      });
    });
  <% end %>
<% end %>
