<% @liked = JSON.parse(cookies[:liked]) %>
<% @disliked = JSON.parse(cookies[:disliked]) %>
<h5 class="text-center">Based on <%= @liked.count + @disliked.count %> images, you'd like <%= @country %></h5>
<h5 class='text-center'><%= link_to 'improve this result', card_path(id: @liked.sample)%></h5>
<%= render 'recommendation' %>
