<% @search = JSON.parse(cookies[:search]) %>
<% @liked = JSON.parse(cookies[:liked]) %>
<h5 class="text-center">You searched for a trip from <%= @search[0] %> for <%= @search[1] %></h5>
<h5 class='text-center'><%= link_to 'improve this result', card_path(id: @liked.sample)%></h5>
<%= render 'recommendation' %>
