<div class="row-fluid">
  <div class="col-md-12">
    <div id="map" style='width: 100%; height: 600px;'></div>
  </div>
  <h1>Check out your results</h1>
</div>

<% @recommendations.each do |recommendation| %>
<%= recommendation.longitude %>
<%= recommendation.latitude %>
<% end %>

<% content_for(:after_js) do %>
<%= javascript_tag do %>

$(document).on('turbolinks:load', function() {
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function(){
markers = handler.addMarkers(<%= raw @hash.to_json %>)
draggable: true,
animation: google.maps.Animation.DROP;
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
});
<% end %>

function toggleBounce() {
if (marker.getAnimation() !== null) {
marker.setAnimation(null);
} else {
marker.setAnimation(google.maps.Animation.BOUNCE);
}
}
<!--
<% if false %>

<script>

  <%#= @hotspot = @recommendations.select(@liked.max)%>
  <% #end %>

  function initMap() {
    var myLatlng = {lat: @hotspot.latitude, lng: @hotspot.longitude};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: myLatlng
    });

    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Click to zoom'
    });

    map.addListener('center_changed', function() {
    // 3 seconds after the center of the map has changed, pan back to the
    // marker.
    window.setTimeout(function() {
      map.panTo(marker.getPosition());
    }, 3000);
  });

    marker.addListener('click', function() {
      map.setZoom(8);
      map.setCenter(marker.getPosition());
    });
  }

</script>

<% #end %> -->
<% end %>
