<% if user_signed_in? %>

<div class="navbar-new-button btn text-right" id="navbar-wagon-menu">
      <%= link_to current_user.first_name, dashboard_path %>
</div>


<%else%>


<div class="navbar-wagon-item">
    <%=link_to "Sign In", new_user_session_path, id: 'navbar-wagon-menu', class: 'navbar-wagon-item navbar-new-button btn dropdown-toggle hidden-xs' %>
</div>

<% end %>

