<% @search = JSON.parse(cookies[:search]) unless cookies[:search].nil? %>

<div class="navbar-wagon">

  <!-- Logo -->

  <div class="navbar-wagon-brand">
    <%=link_to root_path do %>
    <%= image_tag 'logo_black.png'%>
    <% end %>
  </div>

<% if controller_name == 'cards' || 'results' && action_name == 'show' %>
  <div class="your-search">
  <p class="your-search text-center">does this look like your kind of thing?</p>
  </div>
<% end %>


  <!-- Right Navigation -->
  <%= render 'shared/my_account_button' %>

  <!-- Dropdown appearing on mobile only -->

</div>
