<div class="navbar-new">

  <!-- Logo -->

  <div class="navbar-logo">
    <%=link_to root_path do %>
    <%= image_tag 'logo_white.png'%>
    <% end %>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-right-container">
    <%= render 'shared/my_account_button' %>
  </div>

  <!-- Dropdown appearing on mobile only -->

</div>
