  <div class="navbar-wagon">
  <!-- Logo -->

  <div class="navbar-wagon-brand">
    <%=link_to root_path do %>
    <%= image_tag 'logo_black.png'%>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <%= render 'shared/my_account_button' %>

  <!-- Dropdown appearing on mobile only -->

</div>
