  <div class="navbar-wagon">
  <!-- Logo -->

  <div class="navbar-wagon-brand">
    <%=link_to root_path do %>
    <%= image_tag 'logo_black.png'%>
    <% end %>
  </div>

<% if controller_name == 'cards' || 'results' && action_name == 'show' %>
  <div class="your-search">
  <p class="your-search">Departing from {departure} for {length}</p>
  </div>
<% end %>


  <!-- Right Navigation -->
  <%= render 'shared/my_account_button' %>

  <!-- Dropdown appearing on mobile only -->

</div>
