<div id="header" role="banner" class="homepage-center-wrapper" style="background-image: linear-gradient(-225deg, rgba(161,221,225,0.9) 0%, rgba(40,85,86,0.7) 50%), url('<%=image_path "bg-landing.jpg"%>') ;">
  <div class="center-content">
  <%#= image_tag "destinose-icon.png", class: 'landing-icon' %>
  <%#= image_tag "logo_white.png", class: 'logo' %>
  <h1 style="opacity: 0.5;">desti <span class="bullet-point">&bull;</span> no <span class="bullet-point">&bull;</span> sé</h1>
  <h4 style="opacity: 0.5;"><i>( Spanish: I don't know my destination )</i></h4>
    <p class="about-content">Destinosé is a leisure travel app that learns about you to help find new places and explore them with ease.</p>
    <br />
      <h4>1. Discover new destinations</h4>
      <h4>2. Find things to do there</h4>
      <h4>3. Intelligently plan your trip</h4>
      <br />
      <p class="email">if you'd like more information please email<br /><%= mail_to "dev@destinose.com", "dev@destinose.com", subject: "Enquiry about Destinosé" %></p>
  </div>


</div>

<div class="about-link">
  <%= link_to 'Back', :back %>
</div>
