<h1> ABOUT </h1>

<div class="first-container">

<h2> What? </h2>

<p> Destinosé is a travel app service meant to inspire design-minded travelers. With a simple algorithm that learns about your travel preferences while </p>

</div>

<div class="second-container">

<h2> Why? </h2>

<p> We made Destinosé because we wanted to use Destinosé! We all get to see a lot of pictures of travel destinations, online and offline, through social networks or magazines ... but we rarely take a chance at deciding that we might enjoy it as our next travel destination. </p>

</div>

<div class="third-container">

<h2> Who? </h3>

<p>  Anyone really... who likes to make travel fun, starting with intuitively deciding on where to go! </p>

</div>

