<div id="header" role="banner" class="homepage-center-wrapper" style="background-image: linear-gradient(-225deg, rgba(161,221,225,0.9) 0%, rgba(40,85,86,0.7) 50%), url('<%=image_path "bg-landing.jpg"%>') ;">
  <div class="center-content">
  <%= image_tag "destinose-icon.png", class: 'landing-icon' %>
  <%= image_tag "logo_white.png", class: 'logo' %>
    <h2>
      The smart way to pick your next travel destination
    </h2>
     <%= link_to restart_path do %>
    <div class="btn btn-primary btn-lg">Get started</div>
    <% end %>
  </div>


</div>


<!-- Google Analytics universal -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63609634-2', 'auto');
  ga('send', 'pageview');

</script>
