<div id="header" role="banner" class="homepage-center-wrapper" style="background-image: linear-gradient(-225deg, rgba(161,221,225,0.9) 0%, rgba(161,221,225,0.4) 50%), url('<%=image_path "bg-landing.jpg"%>') ;">
  <div class="center-content">
  <%= image_tag "logo_white.png", class="logo" %>
    <h2>
      The smart way to pick your <span class="next">next </span> travel destination
    </h2>
    <a class="btn btn-primary btn-lg">Get started</a>
  </div>


</div>
