<center>
<h1>Destinosé</h1>
<h3>you're out of cards!</h3>
<h4>places you liked</h4>
<ul>
  <% @liked = JSON.parse(cookies[:liked]) %>
  <% @liked.each do |x| %>
  <% @destination = Card.find(x) %>
  <li><%= @destination.name %></li>
  <% end %>
</ul>

<p style="float: right; padding-right: 50px;">Current Strength: <%= @current_strength %>&percnt;</p>
</center>

