.btn-swipe {
  padding: 10px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  // max-width: 250px;
}

.btn-yes img {
  height: 35px;
}

.btn-no img {
  height: 30px;
  margin: 2.5px;
}

.btn-swipe a {
  color: #fff;
  }

.btn-yes {
  background-color: #8cbb35;
}

.btn-no {
  background-color: #666;
}

.button-container {
  width: 100%;
  // max-width: 500px;
  position: absolute;
  bottom: 100px;
  margin: 0 auto 90px auto;
}
